*.pyc
.idea/*
build/*
dist
sandbox/*
__pycache__/*
.ipynb_checkpoints/*
files.txt
docs/_build/*
goodman_pipeline/data/dcr_source/dcr
goodman_pipeline/data/dcr_source/*.o
/dev-tools/
.cache/*
.eggs/*
.tmp/*
.tox/*
*/goodman_pipeline.egg-info/*
goodman_pipeline/version.py
coverage.xml
*.DS_Store
